<p><%= @student.student_id %></p>
<p><%= @student.student_email %></p>
<%= form_tag "/updatepassword/#{@student.student_id}", method: :patch do %>
  <p>password: <input type="password" name="password"></p>
  <p>confirm password: <input type="password" name="password_confirmation"></p>
  <p><input type="submit" value="UPDATE PASSWORD"></p>
<% end %>